## **ðŸ§­ Task 1 â€“ Fundamental Data Understanding (Indian Air Pollution Data)**

### **ðŸŽ¯ Objective :**

The purpose of this task is to help you explore and understand the structure and quality of the Indian Air Pollution Dataset provided for your assessment.
You will use Pandas to:

* Combine multiple CSV files into a single dataset, and

* Perform fundamental data understanding (data inspection, summary statistics, and missing value analysis).

## **Mounting the drive**

In [1]:
# Load the Drive helper and mount
from google.colab import drive

# This will prompt for authorization.
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
%cd '/content/drive/MyDrive/Assessment Data'
# please change the path according to the location of your data

/content/drive/MyDrive/Assessment Data

In [3]:
%ls # it shows all the content of your folder if done properly

Ahmedabad_data.csv     Coimbatore_data.csv  Kolkata_data.csv
Aizawl_data.csv        Delhi_data.csv       Lucknow_data.csv
Amaravati_data.csv     Ernakulam_data.csv   Mumbai_data.csv
Amritsar_data.csv      Gurugram_data.csv    Patna_data.csv
Bengaluru_data.csv     Guwahati_data.csv    Shillong_data.csv
Bhopal_data.csv        Hyderabad_data.csv   Talcher_data.csv
Brajrajnagar_data.csv  Jaipur_data.csv      Thiruvananthapuram_data.csv
Chandigarh_data.csv    Jorapokhar_data.csv  Visakhapatnam_data.csv
Chennai_data.csv       Kochi_data.csv

# **ðŸ§© What You Need to Do:**

**Step 1: Import Libraries :**

Start by importing the necessary Python libraries:

In [4]:
import pandas as pd
import os

### **ðŸ§© Merging of the csv files:**



### **Combining all the csv files in the drive path: You can use either of the merging options:**  
---

**ðŸ§© OPTION 1 :**

In [ ]:
# Import the necessary libraries
import pandas as pd  # pandas is used for working with data tables
import glob         # glob is used to find files by name patterns

# STEP 1: The pattern "*_data.csv" means "find all files that end with '_data.csv'"
# This will find files like: Ahmedabad_data.csv, Delhi_data.csv, Mumbai_data.csv, etc.
city_files = glob.glob("*_data.csv")

# STEP 2: Create an empty list to store all our city data
# We'll put each city's data in this list before combining them
all_cities_data = []

# STEP 3: Read each city file one by one
for file_name in city_files:
    # Read the current city's CSV file into a DataFrame
    # A DataFrame is like a spreadsheet table in Python
    city_df = pd.read_csv(file_name)

    # Add this city's data to our list
    all_cities_data.append(city_df)

    # Optional: Print which file we just read
    print(f"Loaded: {file_name}")

# STEP 4: Combine all city data into one big table
# pd.concat() joins all the DataFrames in our list together
# ignore_index=True makes sure the row numbers are continuous (0, 1, 2, 3...)
combined_data = pd.concat(all_cities_data, ignore_index=True)

# STEP 5: Save the combined data to a new CSV file
# index=False means don't save the row numbers as a separate column
combined_data.to_csv("all_cities_combined.csv", index=False)

# STEP 6: Show us what we accomplished
# len(city_files) = count of how many city files we combined
# len(combined_data) = total number of rows in the final combined file
print(f"SUCCESS: Combined {len(city_files)} city files into one file with {len(combined_data)} total rows")
print("The combined file is saved as: all_cities_combined.csv")

In [ ]:
df= pd.read_csv('all_cities_combined.csv')
df

**ðŸ§© OPTION 2 :**


The process involves iterating through all files in a specified directory (drive_path) to identify those with a .csv extension. Each identified CSV file is then read into a Pandas DataFrame, which is subsequently appended to a list (dataframes). Once all the CSV files are processed, the individual DataFrames in the list are combined into a single consolidated DataFrame (all_data) using the pd.concat() function. This consolidation ensures that the combined data is reindexed, creating a unified dataset for further analysis.

In [5]:
%cd '/content/drive/MyDrive'
# please change the path according to the location of your data

/content/drive/MyDrive

In [6]:
path = 'Assessment Data'

In [7]:

dataframes = []
for filename in os.listdir(path):
    if filename.endswith('.csv'):  # Check if the file is a CSV file
        file_path = os.path.join(path, filename)
        df = pd.read_csv(file_path)  # Read the CSV file into a DataFrame
        dataframes.append(df)  # Add the DataFrame to the list

In [8]:
df1 = pd.concat(dataframes, ignore_index=True)

In [9]:
df1

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Jaipur,14/06/2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Jaipur,15/06/2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Jaipur,16/06/2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Jaipur,17/06/2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Jaipur,18/06/2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29526,Chennai,27/06/2020,26.42,39.30,7.25,12.96,19.59,33.20,1.10,7.29,68.51,0.10,0.07,NaN,95.0,Satisfactory
29527,Chennai,28/06/2020,25.93,45.54,7.81,10.00,16.39,35.98,0.76,6.48,77.45,0.09,0.00,NaN,98.0,Satisfactory
29528,Chennai,29/06/2020,21.30,22.21,7.65,9.69,16.74,34.07,0.96,6.62,62.57,0.09,0.01,NaN,104.0,Moderate
29529,Chennai,30/06/2020,24.14,30.66,8.42,12.38,20.29,34.17,1.05,7.50,68.75,0.17,0.16,NaN,110.0,Moderate
29530,Chennai,01/07/2020,15.95,4.85,6.22,10.72,16.44,33.52,1.02,9.23,48.37,0.09,0.00,NaN,92.0,Satisfactory

## **ðŸ§© Perform Fundamental Data Understanding :**

**Once you have the merged dataset, explore and understand its structure.**

In [10]:
df1.head()

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Jaipur,14/06/2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Jaipur,15/06/2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Jaipur,16/06/2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Jaipur,17/06/2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Jaipur,18/06/2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df1.tail()

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
29526,Chennai,27/06/2020,26.42,39.30,7.25,12.96,19.59,33.20,1.10,7.29,68.51,0.10,0.07,NaN,95.0,Satisfactory
29527,Chennai,28/06/2020,25.93,45.54,7.81,10.00,16.39,35.98,0.76,6.48,77.45,0.09,0.00,NaN,98.0,Satisfactory
29528,Chennai,29/06/2020,21.30,22.21,7.65,9.69,16.74,34.07,0.96,6.62,62.57,0.09,0.01,NaN,104.0,Moderate
29529,Chennai,30/06/2020,24.14,30.66,8.42,12.38,20.29,34.17,1.05,7.50,68.75,0.17,0.16,NaN,110.0,Moderate
29530,Chennai,01/07/2020,15.95,4.85,6.22,10.72,16.44,33.52,1.02,9.23,48.37,0.09,0.00,NaN,92.0,Satisfactory

In [12]:
df.shape
print(f'No of Rows: {df1.shape[0]}, No of Columns: {df1.shape[1]}')

No of Rows: 29531, No of Columns: 16

In [13]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29531 entries, 0 to 29530
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        29531 non-null  object
 1   Date        29531 non-null  object
 2   PM2.5       24933 non-null  float64
 3   PM10        18391 non-null  float64
 4   NO          25949 non-null  float64
 5   NO2         25946 non-null  float64
 6   NOx         25346 non-null  float64
 7   NH3         19203 non-null  float64
 8   CO          27472 non-null  float64
 9   SO2         25677 non-null  float64
 10  O3          25509 non-null  float64
 11  Benzene     23908 non-null  float64
 12  Toluene     21490 non-null  float64
 13  Xylene      11422 non-null  float64
 14  AQI         24850 non-null  float64
 15  AQI_Bucket  24850 non-null  object
dtypes: float64(13), object(3)
memory usage: 3.6+ MB

In [14]:
df1.dtypes

City           object
Date           object
PM2.5         float64
PM10          float64
NO            float64
NO2           float64
NOx           float64
NH3           float64
CO            float64
SO2           float64
O3            float64
Benzene       float64
Toluene       float64
Xylene        float64
AQI           float64
AQI_Bucket     object
dtype: object

In [15]:
df1.columns

Index(['City', 'Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'CO', 'SO2',
       'O3', 'Benzene', 'Toluene', 'Xylene', 'AQI', 'AQI_Bucket'],
      dtype='object')

### **Total number of Cities in the dataset:**

In [16]:
Cities = df1['City'].value_counts()
print(f'Total number of Cities in the dataset : {len(Cities)}')

Cities

Total number of Cities in the dataset : 26

City
Delhi                 2009
Mumbai                2009
Ahmedabad             2009
Bengaluru             2009
Chennai               2009
Lucknow               2009
Hyderabad             2006
Patna                 1858
Gurugram              1679
Visakhapatnam         1462
Amritsar              1221
Jorapokhar            1169
Jaipur                1114
Thiruvananthapuram    1112
Amaravati              951
Brajrajnagar           938
Talcher                925
Kolkata                814
Guwahati               502
Coimbatore             386
Shillong               310
Chandigarh             304
Bhopal                 289
Ernakulam              162
Kochi                  162
Aizawl                 113
Name: count, dtype: int64

### **Displaying the percentage of missing value**

In [17]:
def missing_values_table(df1):
    # Total missing values
    mis_val = df1.isnull().sum()

    # Percentage of missing values
    mis_val_percent = 100 * mis_val / len(df1)

    mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)

    mis_val_table = mis_val_table.rename(columns={0: 'Missing Values', 1: '% of Total Values'})

    # Sort the table by percentage of missing descending
    mis_val_table = mis_val_table.sort_values('% of Total Values', ascending=False)

    return mis_val_table

missing_values = missing_values_table(df1)
display(missing_values.style.background_gradient(cmap='hsv_r'))

In [ ]:
df1

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Jaipur,14/06/2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Jaipur,15/06/2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Jaipur,16/06/2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Jaipur,17/06/2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Jaipur,18/06/2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29526,Chennai,27/06/2020,26.42,39.30,7.25,12.96,19.59,33.20,1.10,7.29,68.51,0.10,0.07,NaN,95.0,Satisfactory
29527,Chennai,28/06/2020,25.93,45.54,7.81,10.00,16.39,35.98,0.76,6.48,77.45,0.09,0.00,NaN,98.0,Satisfactory
29528,Chennai,29/06/2020,21.30,22.21,7.65,9.69,16.74,34.07,0.96,6.62,62.57,0.09,0.01,NaN,104.0,Moderate
29529,Chennai,30/06/2020,24.14,30.66,8.42,12.38,20.29,34.17,1.05,7.50,68.75,0.17,0.16,NaN,110.0,Moderate
29530,Chennai,01/07/2020,15.95,4.85,6.22,10.72,16.44,33.52,1.02,9.23,48.37,0.09,0.00,NaN,92.0,Satisfactory

# **ðŸ“Š Analysis Questions to Answer :**

**Include short written answers (3â€“5 sentences) to these:**

* How many rows and columns are in your merged dataset?

* Which pollutants are included, and which have the most missing data?

* How many unique cities or stations are there?

* What are the average levels of key pollutants?

* Are there any immediate data quality issues (e.g., missing or inconsistent values)?

In [18]:
#How many rows and columns are in your merged dataset?
print(f'No of Rows: {df1.shape[0]}, No of Columns: {df1.shape[1]}')

No of Rows: 29531, No of Columns: 16

In [72]:
#Which pollutants are included, and which have the most missing data?
missing = df1.isnull().sum()
missing_percent = 100 * missing / len(df1)

pollutants = ['PM2.5', 'PM10', 'NO', 'NO2', 'NOx',
              'NH3', 'CO', 'SO2', 'O3',
              'Benzene', 'Toluene', 'Xylene']

missing_pollutants = missing.loc[pollutants]
missing_percent_pollutants = missing_percent.loc[pollutants]

missing_poll = pd.concat([missing_pollutants, missing_percent_pollutants], axis=1)
missing_poll.columns = ['Missing Values', '% of Total Values']
missing_poll = missing_poll.sort_values('% of Total Values', ascending=False)

print("Pollutants with the most missing data:")
display(missing_poll.style.background_gradient(cmap='Greens_r'))

Pollutants with the most missing data:

In [ ]:
#How many unique cities or stations are there?
Cities = df1['City'].value_counts()
print(f'Total number of Cities in the dataset : {len(Cities)}')

Total number of Cities in the dataset : 26

In [68]:
#What are the average levels of key pollutants?

average_pollutants = df1.mean(numeric_only=True) #numeric_only ignores stirngs(text)

print("Average levels of key pollutants:")
ave_pollutants = average_pollutants.to_frame(name='average').sort_values(by='average', ascending=False)
display(ave_pollutants.style.background_gradient(cmap='Greens_r'))

df1.describe() #with this you see your mean and compare.

Average levels of key pollutants:

,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI
count,24933.000000,18391.000000,25949.000000,25946.000000,25346.000000,19203.000000,27472.000000,25677.000000,25509.000000,23908.000000,21490.000000,11422.000000,24850.000000
mean,67.450578,118.127103,17.574730,28.560659,32.309123,23.483476,2.248598,14.531977,34.491430,3.280840,8.700972,3.070128,166.463581
std,64.661449,90.605110,22.785846,24.474746,31.646011,25.684275,6.962884,18.133775,21.694928,15.811136,19.969164,6.323247,140.696585
min,0.040000,0.010000,0.020000,0.010000,0.000000,0.010000,0.000000,0.010000,0.010000,0.000000,0.000000,0.000000,13.000000
25%,28.820000,56.255000,5.630000,11.750000,12.820000,8.580000,0.510000,5.670000,18.860000,0.120000,0.600000,0.140000,81.000000
50%,48.570000,95.680000,9.890000,21.690000,23.520000,15.850000,0.890000,9.160000,30.840000,1.070000,2.970000,0.980000,118.000000
75%,80.590000,149.745000,19.950000,37.620000,40.127500,30.020000,1.450000,15.220000,45.570000,3.080000,9.150000,3.350000,208.000000
max,949.990000,1000.000000,390.680000,362.210000,467.630000,352.890000,175.810000,193.860000,257.730000,455.030000,454.850000,170.370000,2049.000000

In [70]:
#Are there any immediate data quality issues (e.g., missing or inconsistent values)?
missing_data = df1.isnull().sum()
missing_data_values = missing_data.to_frame(name='missing data values').sort_values(by='missing data values', ascending=False)
display(missing_data_values.style.background_gradient(cmap='Oranges_r'))